@media screen and (min-width: 768px) {
    html {
        font-size: medium;
    }

    nav {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .mobileDimension {
        display: none;
    }

    .desktopDimension {
        display: inline;
    }

    .slideshowGallery {
        max-width: 500px;
    }
    
    .prev, .next {
        font-size: 18px;
    }
}