@media screen and (min-width: 768px) {
    html {
        font-size: medium;
    }

    nav {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #hamburger {
        display: none;
    }

    .desktop-dimension {
        display: inline;
    }

    .chief-intro img {
        display: block;
    }

    .slideshowGallery {
        max-width: 500px;
    }
    
    .prev, .next {
        font-size: 18px;
    }

    iframe {
        width: 560;
    }
}