*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: "noah-regular", "system-ui",
    "-apple-system", "Segoe UI", "Roboto", "STHeiti SC",
    "Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: azure;
    font-size: 60%;
}

body {
    background-image: url("images/Shackles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

nav {
    padding: 8px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-bottom: 2px solid #222222;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

    .logo {
      display: flex;
    }

    /* Mobile Dimension */
    .mobile-dimension {
      display: inline;
    }

    .desktop-dimension {
        display: none;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .nav-bar {
      display: flex;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
      padding-left: 1.5vw;
      position: relative;
    }


    nav ul {
      margin-left: auto;
      margin-right: 16px;
    }

    nav ul li {
      display: inline-block;
    }

    nav ul li a {
      transition: color 0.2s ease-in-out;
      letter-spacing: 1px;
      :hover {
        font-weight: bolder;
      }
    }

    .desktop-dimension li {

      :link {
      color: antiquewhite;
      }
      :visited {
        color: rgb(177, 45, 12);
      }
      :hover {
        color: rgb(49, 13, 131);
      }
    }

    nav span img {
        height: 48px;
        width: auto;
        padding: 8px;
        flex-wrap: wrap;
        flex-direction: row;
    }
  
#about {
  display:none;
  position: fixed;
  z-index: 1;
  padding-top: 5vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

    .about-author-reveal {
      background-color: rgba(206, 47, 47, 0.9);
      padding: 20px 20px;
      border: 1px solid rgb(119, 10, 10);
      border-radius: 2vw;
      width: 50%;
      font-family: "Caveat";
      font-size: 1.5vw;
      margin: auto;
    }

    #about:target {
      visibility: visible;
      display: block;
    }

    .close-about-author {
      color: #030000;
      text-shadow: #030000;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }

.ptn-banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
}

.chief-intro h2, #gamePlay h2, .gallery-slideshow h2, .trailer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 1.75vw;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
}

.grid-container {
  width: 75%;
  margin: 2rem auto;
}
    .grid-layout1 {
      display: grid;
      grid-template-columns: 8, 1fr;
      grid-template-rows: 5, 5vw;
      grid-gap: 1.5rem;
    }

      .grid-layout1-imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        transition: transform 1s;
        filter: grayscale(2);
        padding: 1vw;
      }

      .grid-layout1-imgs:hover {
        transform: scale(1.25);
        filter:grayscale(0)
      }

        .chief-entrance {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 5;
        }

        .chief-dream {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        .chief-langley {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 3;
          grid-row-end: 5;
        }

        .chief-shackle {
          grid-column-start: 5;
          grid-column-end: 8;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        .chief-suspectR {
          grid-column-start: 5;
          grid-column-end: 8;
          grid-row-start: 3;
          grid-row-end: 5;
        }

  #gamePlay {
    padding: 5vw;
  }
   
    #gamePlay img {
      width: 35vw;
      object-fit: cover;
      flex-grow: 1;
    }

    #gamePlay figure figcaption {
      font-size: 1vw;
    }
        .story-line, .interrogation {
          display: flex;
          align-items: center;
          justify-content: space-evenly;

        }
            .storyline-text, .interrogation-text {
              padding-right: 5vw;
            }
            
            .storyline-image, .interrogation-image {
              display: flex;
              align-items: center;
              justify-content: center;
            } 

            .battle-image {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              justify-content: space-between;
            } 

            .story-line figcaption, .interrogation figcaption {
              margin-inline-start: 12.5em;
              font-size: 1.75vw;
            }
    
            .battle figcaption {
              margin-inline-start: 12.5em;
              font-size: 1.75vw;
            }
            
.slideshow-container {
  max-width: 90vw;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-left: 5vw;
}
    .slideshow-gallery {
      display: none
    }

    .slideshow-gallery img {
      width: 80vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: 22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .prev {
      left: 5.5vw;
      border-radius: 3px 0 0 3px;
    }
    .next {
      right: 0.25vw;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Number text (1/7 - 7/7) */
    .pic-number {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* bullets links to each pic */
    .dots {
      text-align: center;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-flex;
      align-self: center;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }


 .trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
  }

  fieldset {
    margin: 0 auto;
    text-align: left;
    padding: 2.5vw 5vw;
    max-width: 500px;
    border: 1px solid rgb(219, 201, 201);
    border-radius: 5%;
    font-family: "Caveat";
    font-size: 1.25vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    ::placeholder {
      font-family: "Caveat";
    }
  }

  button {
    display: flex;
    top: 1vw;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    padding: 1vw 1.5vw;
    font-family: "Caveat";
    font-size: 16px;
  }

  .download-links, .credit-AISNO {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 65%;
    padding: 2vw 50%
  }

  #contactsAuthor {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1.25vw;
    padding-bottom: 1.5vw;
    padding-right: 1.5vw;
  }