* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: "noah-regular", "system-ui",
    "-apple-system", "Segoe UI", "Roboto", "STHeiti SC",
    "Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: azure;
}

body {
    background-image: url("images/Shackles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
  }

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-bottom: 2px solid #222222;
    background-color: black;
    opacity: 0.75;
  }

  .navBar {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  nav ul {
    margin-left: auto;
    margin-right: 16px;
  }

  nav ul li {
    display: inline-block;
  }

  nav span img {
    height: 48px;
    width: auto;
    padding: 8px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
.ptnBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0%;
}

h1 {
    text-align: center;
}

.chiefIntro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .gridLayout1 {
    display: grid;
    grid-row: 3;
    grid-column: 3;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 25% 25%;
    justify-content: center;
    margin-top: 5%;
  }

  .chiefIntro img {
    width: 75%;
    height: 50%;
    object-fit: cover;
  }

  #chiefEntrance {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  h2 {
    text-align: center;
  }
 

  .gamePlay img {
    width: 50%;
    height: 20%;
    object-fit: cover;
  }

  /* .storylineText {
    display: flex;
    flex-wrap: wrap;
  } */

  .galleryAndTrailer img {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  fieldset {
    display: block;
    justify-content: center;
  }