*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: "noah-regular", "system-ui",
    "-apple-system", "Segoe UI", "Roboto", "STHeiti SC",
    "Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: azure;
    font-size: 60%;
}

body {
    background-image: url("images/Shackles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

nav {
    padding: 8px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-bottom: 2px solid #222222;
    background-color: rgba(0, 0, 0, 0.7);
  }
.logo {
  display: flex;
}
/* Mobile Dimension */
.mobileDimension {
  display: inline;
}

.desktopDimension {
    display: none;
}

  .navBar {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 1.5vw;
    position: relative;
  }

  nav ul {
    margin-left: auto;
    margin-right: 16px;
  }

  nav ul li {
    display: inline-block;
  }

  .desktopDimension li a {
    :link {
    color: antiquewhite;
    }
    :visited {
      color: rgb(177, 45, 12);
    }
    :hover {
      color: rgb(49, 13, 131);
    }
  }

  nav span img {
    height: 48px;
    width: auto;
    padding: 8px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
.ptnBanner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
}

.chiefIntro h2, #gamePlay h2, .gallerySlideshow h2, .trailer {
  display: flex;
  justify-content: center;
  font-size: 1.75vw;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
}

.gridContainer {
  width: 75%;
  margin: 2rem auto;
}
    .gridLayout1 {
      display: grid;
      grid-template-columns: 8, 1fr;
      grid-template-rows: 5, 5vw;
      grid-gap: 1.5rem;
    }

      .gridLayout1-imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

        .chiefEntrance {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 5;
        }

        .chiefDream {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        .chiefLangley {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 3;
          grid-row-end: 5;
        }

        .chiefShackle {
          grid-column-start: 5;
          grid-column-end: 8;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        .chiefSuspectR {
          grid-column-start: 5;
          grid-column-end: 8;
          grid-row-start: 3;
          grid-row-end: 5;
        }

  #gamePlay {
    padding: 5vw;
  }
   
    #gamePlay img {
      width: 35%;
      object-fit: cover;
      flex-grow: 2;
    }

        .storyLine, .interrogation {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }

            .storylineImage, .interrogationImage {
              display: flex;
              align-items: center;
            } 

            .battleImage {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              justify-content: space-between;
            } 

            .storyLine figcaption, .interrogation figcaption {
              margin-inline-start: 12.5em;
              font-size: 1.75vw;
            }
    
            .battle figcaption {
              margin-inline-start: 12.5em;
              font-size: 1.75vw;
            }
            
    .slideshowContainer {
      max-width: 100%;
      position: relative;
      margin: auto;
      padding-left: 5vw;
      padding-right: 5vw;
    }
        .slideshowGallery img {
          display: hidden;
          vertical-align: middle;
        }

        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 1vw;
          color: aliceblue;
          font-weight: bold;
          font-size: 11px;
          user-select: none;
        }

        .next {
          right: 0;
        }

        .picNumber {
          color: #8c8a8a;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        .slideshowCurrent {
          text-align: center;
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

  fieldset {
    display: block;
    justify-content: center;
  } */

  section #downloadLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    padding-left: 5vw;
    padding-right: 5vw;
  }